* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
}


/*MENU*/

header {
    font-weight: 400;
    z-index: 10;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-top: 30px;
}

.menu {
    list-style-type: none;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.item {
    text-decoration: none;
    color: rgb(255,255,255);
    padding: 42px 25px 17px 25px;
    display: block;
}

.item:hover {
    
}

#active1 {
    text-decoration: none;
    color: rgb(255,255,255);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(116, 199, 213);
}

#active2 {
    text-decoration: none;
    color: rgb(255,255,255);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(223, 92, 100);
}

#active3 {
    text-decoration: none;
    color: rgb(255,255,255);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(145, 119, 142);
}

#active4 {
    text-decoration: none;
    color: rgb(255,255,255);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(161, 202, 108);
}

#active5 {
    text-decoration: none;
    color: rgb(255,255,255);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(130, 200, 189);
}

/*PAGES*/

.pag {
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    padding-left: 16.67%;
    padding-right: 16.67%;
    min-height: 100vh;
}

#page1 {
    background-image: url("../images/background1.jpg");
}

#page2 {
    background-image: url("../images/background2.png");
}

#page3 {
    background-image: url("../images/background3.png");
}

#page4 {
    background-image: url("../images/background4.png");
}

#page5 {
    background-image: url("../images/background5.png");
}

#page6 {
    height: 0.01%;
    width: 100%;
}

/*SLOGAN*/

#phrase {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#bolg {
    color: #74c7d5;
    display: flex;
    align-self: center;
    background-color: rgba(255, 255, 255,0.302);
    border-radius: 4px;
    padding: 35px 40px;
}

#first_text {
    justify-content: flex-start;
    font-weight: 300;
    font-size: 60px;
    text-align: right;
    line-height: 1;
}

#upper_text {
    text-transform: uppercase;
}

#second_text {
    justify-content: flex-end;
    font-size: 140px;
    text-transform: uppercase;
    font-weight: 900;
    position: relative;
    bottom: 10px;
    line-height: 1;
}

/*PAGES 1 & 2 & 3*/

.part1 {
    padding-top: 120px;
    color: rgb(255,255,255);
    text-align: center;
    font-size: 14px;
}

h1 {
    padding-bottom: 45px;
    font-size: 60px;
    font-weight: 300;
}

#big {
    padding-bottom: 25px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
}

#bigg {
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: rgb(161, 202, 108);
    padding: 15px 42px;
    justify-content: center;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    margin-top: 55px;
    position: relative;
}

#bigg::after {
    content: '';
    width: 30px;
    height: 15px;
    top: 100%;
    background: url('../images/about/fleche.png') no-repeat;
    position: absolute;
    left: calc(50% - 15px);
}

#lighter {
    color: rgba(255,255,255,0.5);
}

#part2_2 {
    margin-top: 70px;
    left: 15.6%;
    right: 15.6%;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-bottom: 120px;
}

.part2 {
    padding-top: 120px; 
    left: 15.6%;
    right: 15.6%;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-bottom: 120px;
}

.mini_art {
    border-radius: 5px;
    background-color: rgb(200, 83, 90);
    opacity: 0.8;
    width: 25%;
    height: 7.8%;
    margin-left: 20px;
    flex: 1 0 auto;
}

.mini_art:first-child {
    margin-left: 0;
}

.mini_art2 {
    border-radius: 5px;
    background-color: rgb(77, 63, 75);
    opacity: 0.8;
    height: 380px;
    margin-left: 20px;
    width: 25%;
    flex: 1 0 auto;
}

.mini_art2:first-child {
    margin-left: 0;
}

.img_services {
    margin-top: 40px;
    margin-bottom: 25px;
}

.img_about {
    background: url(../images/about/base.png);
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 45px auto 26px auto;
    z-index: 1;
}

.img_about:hover {
    background: url(../images/about/hover.png);
    z-index: 2;
}

.h2_1 {
    font-weight: 300;
}

.h2_2 {
    margin-bottom: 16px;
    font-weight: 300;
}

.role {
    color: rgb(161, 202, 108);
    font-weight: 400;
    padding-bottom: 35px;
}

.img_about:hover ~ .role {
    color: #ff8973;
}

.desc {
    padding: 50px 25px 40px 25px;
    font-weight: 400;
}

p {
    line-height: 1.714;
    font-size: 14px;
    font-weight: 400;
}


.social_network {
    display: inline-block;
    width: 30px;
    height: 30px;
}

#facebook {
    background: url(../images/about/facebook.png) 0 0 no-repeat; 
}

#facebook:hover {
    background-position: 0 -30px;
}

#twitter {
    background: url(../images/about/twitter.png) 0 0 no-repeat; 
}

#twitter:hover {
    background-position: 0 -30px;
}

#google {
    background: url(../images/about/google.png) 0 0 no-repeat; 
}

#google:hover {
    background-position: 0 -30px;
}

#linkedin {
    background: url(../images/about/linkedin.png) 0 0 no-repeat; 
}

#linkedin:hover {
    background-position: 0 -30px;
}

/*PAGE 4*/

#hr1 {
    margin-top: 60px;
    margin-bottom: 40px;
}

#hr2 {
    top: 40px;
    position: relative;
}

h3 {
    text-transform: uppercase;
    color: rgb(255,255,255);
    padding-left: 20px;
    font-weight: 700;
}

.menu2 {
    list-style-type: none;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.menu2:last-child {
    margin-right: 30px;
}

.item2 {
    text-decoration: none;
    border-radius: 5px;
    color: rgb(255,255,255);
    padding: 10px;
    display: block;
    margin-left: 40px;
    font-weight: 700;
}

.item2:hover {
    background-color: #fcc707;
}

#activep {
    background-color: #fcc707;
}

