* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Lato';
}


/*MENU*/


#header {
    margin-left: 250px;
    margin-right: 250px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    margin-top: 30px;
}

#menu {
    margin-top: 40px;
    list-style-type: none;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

#item {
    text-decoration: none;
    color: rgb(255,255,255);
    padding-left: 60px;
}

#item:hover {
    
}

#active1 {
    text-decoration: none;
    color: rgb(255,255,255);
    margin-left: 60px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(116, 199, 213);
    width: 100px;
    height: 80px;
}

#active2 {
    text-decoration: none;
    color: rgb(255,255,255);
    margin-left: 60px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(223, 92, 100);
    width: 100px;
    height: 80px;
}

/*PAGES*/


#page1 {
    background-image: url("../images/background1.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    height: 100%;
    width: 100%;
}

#page2 {
    background-image: url("../images/background2.png");
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    height: 100%;
    width: 100%;
}

#page3 {
    background-image: url("../images/background3.png");
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    height: 100%;
    width: 100%;
}

#page4 {
    background-image: url("../images/background4.png");
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    height: 100%;
    width: 100%;
}

#page5 {
    background-image: url("../images/background5.png");
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    height: 100%;
    width: 100%;
}

#page6 {
    height: 0.1%;
    width: 100%;
}

/*PAGES 1 & 2 & 3*/


#phrase {
  
}

#part1 {
    margin: 120px 250px;
    padding: 25px;
    color: rgb(255,255,255);
    text-align: center;
}

h1 {
    margin-bottom: 47px;
}

#big {
    margin-bottom: 28px;
    font-size: 20px;
    text-transform: uppercase;
}

#lighter {
    color: rgba(255,255,255,0.5);
}

#part2 {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    color: rgb(255, 255, 255);
}

#mini_art {
    border-radius: 5px;
    background-color: rgb(200, 83, 90);
    opacity: 0.8;
    left: 250px;
    right: 250px;
    width: 260px;
    height: 400px;
    margin-left: 20px;
}

#img_services {
    margin-top: 40px;
    margin-bottom: 30px;
}

#img_about {
    
}

h2 {
    margin-bottom: 55px;
}

p {
    
}